{% extends 'base.html' %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<head><title>Pengalaman</title></head>
{% endblock meta %}

{% block content %}

<div class="row">
    {%include 'side.html'%}
    <div class="main">
        <h3>Hobi</h3><br>
        <h4>Fotografi</h4><br>
        <img src="https://i0.wp.com/bungkul.com/wp-content/uploads/2019/08/TS-Night-Photography.jpg?resize=700%2C420&ssl=1" style="height:200px;"></img>
        <br><br><p>Saya suka mengambil foto, terutama foto alam sekitar.</p>
        <p>Berikut beberapa contoh hasil jepretan saya.</p><br>
        <div class="polaroid">
            <img src="{% static 'images/bunga.jpg' %}" class="rounded">
            <div class="containerfoto">
            <p>Marguerite Daisy</p>
            </div>
        </div>
        <div class="polaroid">
            <img src="{% static 'images/bunga2.jpg' %}" class="rounded">
            <div class="containerfoto">
            <p>Allium Millenium</p>
            </div>
        </div>
        <div class="polaroid">
            <img src="{% static 'images/bunga3.jpg' %}" class="rounded">
            <div class="containerfoto">
            <p>Chamomile</p>
            </div>
        </div>
        <div class="polaroid">
            <img src="{% static 'images/bunga4.jpg' %}" class="rounded">
            <div class="containerfoto">
            <p>Shrub Rose</p>
            </div>
        </div>            
    </div>
</div>
    
{% endblock content %}
