{% extends 'base.html' %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<head><title>Ubah Matkul</title></head>
{% endblock meta %}

{% block content %}

<div class="row">
    {%include 'side.html'%}
    <div class="main">
    <form action="/savematkul" method="GET">
        {% csrf_token %}
        <h3>Tambah Mata Kuliah</h3>
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
    </div>
</div>
    
{% endblock content %}
