{% extends 'base.html' %}
{% load static %}
{% block meta %}
<head><title>Add Matkul</title></head>
{% endblock meta %}

{% block content %}

<div class="row">
    {%include 'side.html'%}
    <div class="main">
        
    {% if matkul %}
        <h3> {{matkul.nama_matkul }} </h3>
	    <p>Nama Matkul: {{matkul.nama_matkul }}</p>
		<p>Dosen Pengajar: {{matkul.dosen_pengajar}}</p>
        <p>Jumlah SKS: {{matkul.jumlah_sks}}</p>
        <p>Deskripsi Matkul:  {{matkul.deskripsi_matkul}}</p>
        <p>Semester Tahun: {{matkul.semester_tahun}}</p>
        <p>Ruang Kuliah: {{matkul.ruang_kuliah}}</p>
	
	{% endif %}
    <a href="/tampilkanmatkul" class="btn btn-primary">Tampilkan Semua Mata Kuliah </a>
    <a href='{%url "hapusmatkul" matkul.id %}' class="btn btn-primary"> Hapus Mata Kuliah </a>
    
    </div>
</div>
    
{% endblock content %}
