{% extends 'base.html' %}
{% load static %}
{% block meta %}
<head><title>Semua Matkul</title></head>
{% endblock meta %}

{% block content %}

<div class="row">
    {%include 'side.html'%}
    <div class="main">
    <h3> Mata Kuliah </h3>
	{% if matkul %}
	<table style="width:100%">
		<tr>
		  <th>Nama Mata Kuliah</th>
		  <th>Opsi Hapus</th>
		</tr>
		{%for mk in matkul %}
			<tr>
			<td><a href='{%url "satumatkul" mk.id %}'>{{mk.nama_matkul }}</a></td>
			<td><a href='{%url "hapusmatkul" mk.id %}'> Delete </a></td>
			</tr>
		{% endfor %}
			<br>
	</table>
	{% endif %}
	<a href="/addmatkul" class="btn btn-primary">Tambah Mata Kuliah</a>


    
    </div>
</div>
    
{% endblock content %}