{% extends 'base.html' %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<head><title>Home</title></head>
{% endblock meta %}

{% block content %}

<div class="container" ;">
    <div class="row">
        <div class="col">
            <br><br><br><br>
            <p>Skill:</p>
            <ul>
                <li>Python</li>
                <li>Java</li>
                <li>HTML</li>
            </ul>
            <p>Minat:</p>
            <ul>
                <li>UI/UX Development</li>
                <li>Mobile Development</li>
                <li>Digital Product Design</li>
            </ul>
        </div>
        <div class="col-6">
            <div class="row-3">
                <center>
                    <br>
                    <h3>My Profile</h3>
                    <br><br>
                    <img src="{% static 'images/foto.jpg' %}" class="rounded">
                    <br> <br>
                    <h5 class= "Merriweather"> Shafira Azzahra </h5>
                    <br><p>A hardworking 2nd year Computer Science Student who is interested in UI/UX </p>
                </center>
            </div>
        </div>
        <div class="col">
            <center>
                <br><br><br><br><br><br><br><br><br><br>
                <p>Find me on social media!</p>
                <div class="row-3">
                    <a href="http://instagram.com/shafira.azzhr"><img src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c521.png" width="50" height="50"></a>
                    <a href="http://twitter.com/shafirazzhr"><img src="http://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c53e.png" width="50" height="50"></a>
                    <a href="https://www.facebook.com/shafira.azzahra/"><img src="http://assets.stickpng.com/thumbs/584ac2d03ac3a570f94a666d.png" width="50" height="50"></a>
                </div>
            </center>
        </div>
    </div>
</div>
    
{% endblock content %}
