{% extends 'base.html' %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<head><title>Pengalaman</title></head>
{% endblock meta %}

{% block content %}

<div class="row">
    {%include 'side.html'%}
    <div class="main">
        
        <h3>Pengalaman</h3><br><br>
        <h4>Project</h4><br><br>
        <div class="card" style="width: 18rem; align-items: center;">
            <img src="https://healthyycare.files.wordpress.com/2018/11/mengenal-jenis-dan-fungsi-stetoskop.jpg?w=673" style="height:200px;" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title" style= "text-align: center;text-decoration: underline;">Medi-Medi</h5>
                <p class="Merriweather";>Front End Developer</p>
                <p >Program yang diperuntukan bagi tenaga kesehatan untuk menginput dan mengupdate stok obat beserta informasinya dengan mudah</p>
                <a href="https://gitlab.com/medimedi/medistock" class="btn btn-secondary">See codes</a>
            </div>
        </div>    
        <hr>
        <h4>Kepanitiaan</h4><br>
        <h5 style="text-decoration: underline;">PMB FASILKOM UI 2020</h5>
        <br><img src="https://pbs.twimg.com/profile_images/1274005110671028224/o4W_JwTD_400x400.jpg" class="rounded">
        <br><br><p class="Merriweather">Staff Akademis</p>
        <p>Acara Pembinaan Mahasiswa Baru FASILKOM UI 2020</p>
        <br>
        <hr>
        <h4>Mata Kuliah</h4> 
        
        <a href="/tampilkanmatkul" class="btn btn-primary">Tampilkan Semua Mata Kuliah </a>
    </div>
</div>
    
{% endblock content %}
